@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom glow animation class */
@keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(24, 206, 199, 0.5);
    }
    50% {
      box-shadow: 0 0 67px rgba(24, 206, 199, 0.5);
    }
    100% {
      box-shadow: 0 0 5px rgba(24, 206, 199, 0.5);
    }
  }
  
  /* Apply the glow animation on hover */
  .hover\:animate-glow:hover {
    animation: glow 2s infinite;
  }
  
