@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom glow animation class */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      }
      50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
      }
      100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      }
    }
  
  /* Apply the glow animation on hover */
  .hover\:animate-glow:hover {
    animation: glow 2s infinite;
  }
  
  .glow {
    position: relative;
  }
  
  .glow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #FF69B4; /* Adjust the glow color and intensity here */
    opacity: 0.7; /* Adjust the glow opacity */
    animation: glow-animation 1s infinite alternate; /* Adjust the glow animation duration and effect */
  }
  
  @keyframes glow-animation {
    from {
      opacity: 0.7;
      box-shadow: 0 0 10px 10px #FF69B4;
    }
    to {
      opacity: 0.3;
      box-shadow: 0 0 10px 10px #FF69B4;
    }
  }
  .typed-text {
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 5;
    }
    100% {
      opacity: 0.8;
    }
  }